/* ## Typography
### Body Copy
- Font size (quote): 28px
### Font
- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 800 */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	--font-family: "Manrope", sans-serif;
	--font-weight: 800;
	--fontsize-quote: 28px;
}
